<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Email</label>
                    <input type="email" name="email" id="" class="form-control" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Age</label>
                    <input type="text" class="form-control" name="age" [(ngModel)]="age">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" name="mob" [(ngModel)]="mob">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Gender</label>
                    <select name="gender" id="" class="form-control" [(ngModel)]="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Pincode</label>
                    <input type="text" class="form-control" name="pincode" [(ngModel)]="pincode">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control" name="parentName" [(ngModel)]="parentName">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="pass" id="" class="form-control" [(ngModel)]="pass">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValue">Submit</button>
                </div>
                <a routerLink="/">Back To Login</a>
            </div>
        </div>
    </div>
</div>
