<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <label for="" class="form-label">Email Id</label>
                   <input type="email" name="email" id="" class="form-control" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="pass" id="" class="form-control" [(ngModel)]="pass">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValue()">Submit</button>
                </div>
                <a routerLink="/add">New Users Click here</a>
            </div>
        </div>
    </div>
</div>
